#menu_table{
	text-align: center; 
	border : 1px solid #F8D880;
	border-radius: 5px;
	background-color: #E8F2FE;
	padding-bottom: 10px;
	width: 100%;
	margin: 10px 5px 5px 10px;
	border: 1px solid #F8D880;
}