@CHARSET "UTF-8";
.bdcs-container .bdcs-main, .bdcs-container .bdcs-main * {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	float: none;
	clear: none;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	border: 0;
	background: 0 0;
	width: auto;
	height: auto;
	max-width: none;
	min-width: none;
	max-height: none;
	min-height: none;
	border-radius: 0;
	box-shadow: none;
	transition: none;
	text-align: left
}

.bdcs-container .bdcs-clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0
}

.bdcs-container .bdcs-clearfix {
	zoom: 1
}

.bdcs-container .bdcs-main {
	overflow: visible
}

.bdcs-container .bdcs-search {
	display: block;
	overflow: visible;
	position: relative;
	border-style: solid
}

.bdcs-container .bdcs-search-form-input-wrap {
	display: inline-block
}

.bdcs-container .bdcs-search-form-input {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	vertical-align: top;
	text-indent: 5px;
	background-color: #fff;
	float: left
}

.bdcs-container .bdcs-search-form-input:focus {
	border-width: 1px;
	border-style: solid;
	outline: 0
}

.bdcs-container .bdcs-search-form-submit-wrap {
	display: inline-block
}

.bdcs-container .bdcs-search-form-submit {
	display: inline-block;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	vertical-align: top;
	text-align: center;
	width: 50px; //
	_overflow: hidden
}

.bdcs-container .bdcs-search-form-submit-magnifier {
	width: 45px;
	padding: 0;
	text-indent: -999em;
	overflow: hidden;
	background:
		url(http://znsv.baidu.com/static/customer-search/component/search/magnifier-icon.png)
		no-repeat center center;
	_background:
		url(http://znsv.baidu.com/static/customer-search/component/search/magnifier-icon_ie6.png)
		no-repeat center center
}

div#default-searchbox .default-channel-meun {
	position: relative;
	width: 75px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background: #fff;
	float: left;
	overflow: visible
}

div#default-searchbox .default-channel-current {
	border: 1px solid;
	position: relative;
	width: 100%;
	border-right: 0
}

div#default-searchbox .default-channel-current span {
	margin-left: 8px
}

div#default-searchbox .default-channel-current i {
	overflow: hidden;
	width: 0;
	height: 0;
	border-width: 6px 6px 0;
	border-color: #9E9E9E #fff;
	border-style: solid;
	display: block;
	position: absolute;
	right: 10px;
	top: 11px
}

div.cse-default-channel-container {
	display: block;
	position: absolute;
	z-index: 30061000000
}

div.cse-default-channel-container .default-channel-list {
	display: none;
	width: 99%;
	list-style: none;
	background: #fff;
	border: 1px solid #DDD;
	border-top: 0;
	margin: 0;
	padding: 0
}

div.cse-default-channel-container .default-channel-list li {
	background: 0 0;
	line-height: 24px;
	list-style: none;
	display: block;
	padding-left: 7px;
	cursor: pointer
}

div.cse-default-channel-container .default-channel-list li:hover {
	background: #DDD
}

.bdcs-container .bdcs-search-form-input-wrap {
	
}

.bdcs-container .bdcs-search-form-input-notspan {
	margin-left: 0px;
	font-family: Arial, SimSun, sans-serif;
	color: #000000;
	font-size: 14px;
}

.bdcs-container .bdcs-search-form-input .icon-nofocus {
	left:;
	right:;
	top:;
	height:;
	width:;
}

.bdcs-container .bdcs-search {
	width: 428px;
	height: 36px;
	overflow: visible;
	border-color: #ffffff;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: none;
	background-color: none;
}

.bdcs-container .bdcs-search-form-input {
	border-color: #a6a6a6;
	margin-right: 10px;
	width: 318px;
	height: 34px;
	line-height: 34px;
	font-family: Arial, SimSun, sans-serif;
	color: #000000;
	font-size: 14px;
	border-radius: 0px;
	background-color: #FFFFFF;
}

.bdcs-container .bdcs-search-form-input:focus {
	border-color: #f79646;
}

.bdcs-container .bdcs-search-form-submit-wrap {
	
}

.bdcs-container .bdcs-search-form-submit {
	border-color: #a6a6a6;
	height: 34px;
	width: 96px;
	background-color: #f5f5f5;
	color: #000000;
	font-family: Arial, SimSun, sans-serif;
	font-size: 14px;
	border-radius: 0px;
}

.bdcs-container .bdcs-search-sug-list {
	width: px;
}

.bdcs-container .bdcs-search-sug-list-item {
	height: 28px;
	line-height: 28px;
	font-family: Arial, SimSun, sans-serif;
	font-size: 14px;
}

.bdcs-container .bdcs-search-sug-list-item-value {
	color: #000000;
}

.bdcs-container .bdcs-clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0
}

.bdcs-container .bdcs-clearfix {
	zoom: 1
}

.bdcs-container .bdcs-search {
	overflow: visible;
	position: relative
}

.bdcs-container .bdcs-search-sug, .bdcs-container .bdcs-search-sug * {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	float: none;
	clear: none;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	border: 0;
	background: 0 0;
	width: auto;
	height: auto;
	max-width: none;
	min-width: none;
	max-height: none;
	min-height: none;
	border-radius: 0;
	box-shadow: none;
	transition: none;
	text-align: left
}

.bdcs-container .bdcs-search-sug {
	display: none;
	position: absolute;
	z-index: 2147483647
}

.bdcs-container .bdcs-search-sug-list {
	list-style: none;
	border: 1px solid #DDD;
	background-color: #FFF
}

.bdcs-container .bdcs-search-sug-list {
	
}

.bdcs-container .bdcs-search-sug-list-item {
	display: block;
	list-style: none;
	cursor: pointer;
	padding: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.bdcs-container .bdcs-search-sug-list-item-current {
	background-color: #EBEBEB
}

.bdcs-container .bdcs-search-sug-list-item-author-novel, .bdcs-container .bdcs-search-sug-list-item-author-music,
	.bdcs-container .bdcs-search-sug-list-item-type-movie {
	color: #BABABA
}

.bdcs-container .bdcs-search-sug-list-item-author-novel, .bdcs-container .bdcs-search-sug-list-item-author-music
	{
	margin-left: 5px
}

.bdcs-container .bdcs-search-sug-list-item-music {
	overflow: hidden;
	*zoom: 1
}

.bdcs-container .bdcs-search-sug-list-item-value-movie {
	float: left
}

.bdcs-container .bdcs-search-sug-list-item-type-movie {
	float: right
}

.bdcs-container .bdcs-search-sug-skin {
	display: none;
	width: 85px;
	height: 85px;
	position: absolute;
	right: 1px;
	bottom: 1px
}

.bdcs-container .bdcs-search-sug-skin-img {
	width: 85px;
	height: 85px
}

.bdcs-container .bdcs-search-sug-i {
	color: #e64fa3;
	font-weight: 700;
	margin-left: 10px;
	font-family: simsun;
	font-style: normal
}

.bdcs-container .bdcs-search-sug-adv {
	width: 105px;
	position: absolute;
	right: 1px;
	top: 1px;
	display: none
}

.bdcs-container .bdcs-search-sug-adv-img {
	position: absolute;
	top: 0;
	right: 0
}

.bdcs-container {
	overflow: visible;
}

.bdcs-container .bdcs-search-form-submit {
	*height: 36px;
	*margin-top: 1px;
}

.bdcs-container .bdcs-search-form-submit {
	height: 36px;
}

.bdcs-container .bdcs-search-form-submit {
	line-height: 34px;
}

.bdcs-container .bdcs-search-sug-list-item {
	height: 28px;
	line-height: 28px;
	font-family: Arial, SimSun, sans-serif;
	font-size: 14px;
}

.bdcs-container .bdcs-search-sug-list-item-value {
	color: #000000;
}

#bdcs-search-inline {
	height: 38px;
}

#bdcs-rec {
	display: none;